<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="https://webapph17.azurewebsites.net" class="navbar-brand">Skytravel</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-4">
            <h1>SkyTravel support</h1>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-6 col-sm-offset-4">

            <nav>
                <div class="list-group list-group-horizontal">
                    <a class="list-group-item" routerLink="/list" routerLinkActive="active" >FAQ</a>
                    <a class="list-group-item" routerLink="/questions" routerLinkActive="active">All Questions</a>
                    <a class="list-group-item" routerLink="/create" routerLinkActive="active">New question</a>
                </div>
            </nav>
        </div>
    </div>
</div>

<router-outlet>

</router-outlet>

