<div class="container">
    <div class="row top-buffer">
        <div class="col-sm-3">
            <h3>Select category:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <input class="form-control" type="text" [(ngModel)]="query" placeholder="Search" />
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-sm-12">
            <!--Categories-->
            <accordion>
                <accordion-group *ngFor="let q of questions | search: query" heading="{{q.asked}}">
                    {{q.answer}}
                </accordion-group>
            </accordion>
        </div>
    </div>
</div>

<style>
    .top-buffer{
        margin-top:25px;
    }
</style>